{% extends "blog/base.html" %}
{% block content %}
<div class="jumbotron mt-3 shadow-lg">
<article class="media content-section shadow ">
   <a href="{{ object.author.profile.image.url }} " target="_blank"> <img src="{{ object.author.profile.image.url }}  " alt="" class="article-img rounded-circle img-thumbnail img-fluid">
   </a>
    <div class="media-body">
      <div class="">
        <div class="d-flex justify-content-between">
        <a class="mr-2 mt-0 mb-0  text-dark" href="{% url 'user-definitions' object.author.username  %}"><h3>{{ object.author }}</h3></a>
        <small class="text-muted  text-align-right">{{ object.date_posted }}</small>
        </div>
        <!-- Turn this button into a template and move the repeated javascript function elsewhere -->
        {% if user.is_authenticated %}
          {% if object.author != user %}
            <form class="like-form" action="{% url 'definition-like' definition.pk %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="definition_id" value="{{ definition.id }}">
              <!---Find a more efficient way to write this. Can't figure out how to combine with and if to create conditional variable--->
              {% if user in definition.likes.all %}
              <button type="submit" class="btn btn-warning btn-d">
                <i class="fas fa-star"></i>
                  <span class="like-count">{{ definition.total_likes }}</span>
              </button>
              {% else %}
              <button type="submit" class="btn btn-outline-dark btn-d">
              <i class="fas fa-star"></i>
                <span class="like-count">{{ definition.total_likes }}</span>
              </button>
              {% endif %}
            </form>
          {% endif %}
          {% if object.author == user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'definition-update' object.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'definition-delete' object.id %}">Delete</a>
            </div>
          {% endif %}
        {% else %}
          <div>
            <i class="fas fa-star"></i>
              <span class="like-count">{{ definition.total_likes }}</span>
          </div>
        {% endif %}
        <hr>
      </div>
      <div>
        <h2>{{ object.phrase }}</h2>
        <p>{{ object.description }}</p>
      </div>
    </div>
  </article>
{% endblock content %}
