{% extends "blog/base.html" %}
{% block content %}

<div class="row mr-0">
  <div class="col-2 d-none d-md-flex">
          <!-- Sidebar -->
          <div id="sidebar-wrapper">
            <h5>Categories</h5>
            <ul class="sidebar-nav list-unstyled">
                {% for category in categories %}
                <li>
                    <a href="#">{{category.name}}</a>
                </li>
                {% endfor %}
            </ul>
          </div>
        <!-- /#sidebar-wrapper -->
  </div><!-- end col-->
  <div class="col">
    <!--Desktop buttons-->
    <div class="select-category d-none d-md-flex">
      <button class="btn btn-dark mr-1">Most recent</button>
      <button class="btn btn-outline-dark mr-1">Popular today</button>
      <button class="btn btn-outline-dark mr-1">Popular this week</button>
      <button class="btn btn-outline-dark">All time most popular</button>
    </div>

    <!--Mobile device dropdown-->
    <div class="select-category dropdown d-md-none">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Most recent
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Most recent</a>
        <a class="dropdown-item" href="#">Popular today</a>
        <a class="dropdown-item" href="#">Popular this week</a>
        <a class="dropdown-item" href="#">All time most popular</a>
      </div>
    </div>
    
    {% for definition in definitions %}
    <article class="media content-section shadow mt-3">
      <a href="{{ definition.author.profile.image.url }} " target="_blank"> <img src="{{ definition.author.profile.image.url }}  " alt="" class="article-img rounded-circle img-thumbnail img-fluid shadow"></a>
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-definitions' definition.author.username %}">{{ definition.author }}</a>
          <small class="text-muted">{{ definition.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'definition-detail' definition.id %}">{{ definition.word }}</a></h2>
        <p class="article-content">{{ definition.description }}</p>
        {% if user.is_authenticated %}
          {% if definition.author != user %}
          <form class="like-form float-right" action="{% url 'definition-like' definition.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="definition_id" value="{{ definition.id }}">
            <!---Find a more efficient way to write this. Can't figure out how to combine with and if to create conditional variable--->
            {% if user in definition.likes.all %}
            <button type="submit" class="btn btn-warning btn-d">
              <i class="fas fa-star"></i>
                <span class="like-count">{{ definition.total_likes }}</span>
            </button>
            {% else %}
            <button type="submit" class="btn btn-outline-dark btn-d">
            <i class="fas fa-star"></i>
              <span class="like-count">{{ definition.total_likes }}</span>
            </button>
            {% endif %}
          </form>
          {% endif %}
        {% else %}
        <span class="float-right">
          <i class="fas fa-star"></i>
            <span class="like-count">{{ definition.total_likes }}</span>
        </span>
        {% endif %}
        {% if definition.author == user %}
        <div class="float-right"><a class="btn btn-dark mt-1 mb-1" href="{% url 'definition-update' definition.id %}">Edit</a></div>
        {% endif %}
      </div>
    </article>
    {% empty %}
    <p>No definitions to show!</p>
    {% endfor %}

  {% if is_paginated %}

    {% if page_obj.has_previous %}
      <a class="btn btn-outline-dark mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

  {% endif %} 
  </div><!-- end col-->
</div><!-- end row-->

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {

      //Update likes when like button pressed
      $('.like-form').on('submit', function(event) {
        event.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        var data = form.serialize();
        $.ajax({
          type: 'POST',
          url: url,
          data: data,
          success: function(response) {
            // Update the like count
            form.find('.like-count').text(response.total_likes);

            //Change button from outline to block
            form.find('button').toggleClass('btn-outline-dark btn-warning')
          }
        });
      });

      //Set dropdown button text equal to the selected value in bootstrap dropdowns
      $(function(){
        $(".dropdown > .dropdown-menu").on('click', 'a', function(){
          $(".dropdown > .btn:first-child").text($(this).text());
          $(".dropdown > .btn:first-child").val($(this).text());
        });
      });

    }); // End document ready
  </script>
{% endblock content %}
