{% extends "blog/base.html" %}
{% block content %}
    <h1><b>All Russian Phrases</b></h1>
    <button id="update-button">Next</button>
    <p id="phrase">{{ phrase }}</p>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $('#update-button').click(function() {
            $.get('', function(data) {
                $('#phrase').html(data.phrase);
            });
        });
    </script>
{% endblock content %}